@charset "utf-8";

.galeria{display:table;margin:5px 10px 5px 0;width:100%}
.galeria div{padding:2px;border:1px solid #d8d9dd;width:auto;height:150px;display:inline-block;margin:0 2px 2px 0;font-size:11px;text-decoration:none;color:#000;position:relative}
.galeria div span{color:blue;font-size:10px;cursor:pointer;position:absolute;z-index:1;bottom:0;right:0}
.galeria div img{height:130px}

.marginTopBottom{margin:30px 0}

